body {
    display: flex;
    flex-flow: column nowrap;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

nav > div {
    /* Form */
    background-color: orange;
    width: 200px;
    height: 200px;
    margin: 10px;


    /* Linktext zentrieren */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav > div > a {
    font-size: x-large;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav > div {
        width: 166px;
        height: 166px;
    }

    nav > div > a {
        font-size: large;
    }
}

@media screen and (max-width: 480px) {
    nav > div {
        width: 133px;
        height: 133px;
    }

    nav > div > {
        font-size: medium;
    }
}