* {
    font-family: Helvetica, Arial, sans-serif;
}

.aktuelle-meldungen {
    background-color: rgb(166, 240, 240);
    padding: 3px;
    margin: 3px;
    border: dashed 2px;
}

nav a:hover {
    background: linear-gradient(to right, rgb(69, 112, 255), rgb(255, 105, 105));
}

.buchungen-tabelle thead {
    background-color: #999999;
}
.buchungen-tabelle tbody tr:nth-child(even) {
    background-color: #ffbf6b;
}

a[href^="mailto:"]::before {
    content: '✉'
}

header h1 {
    text-shadow: 2px 2px 2px #ff0000;
    letter-spacing: 0.2em;
}

header img {
    float: left;
}
header + * {
    clear: left;
}

section {
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding-left: 5px;
    padding-bottom: 5px;
}

input:optional 
{
    border-color: gray;
}

input:required:valid 
{
    border-color: green;
}

input:invalid 
{
    border-color: red;
}

input:required
{
    background-color: peachpuff;
}

label.isRequired::after 
{
    content: "*";
    color: red;
}

fieldset>legend
{
    padding: 5px;
    font-style: italic;
    font-size: smaller;
    color: white;
    background-color: blue;
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

fieldset
{
    border-style: groove;
    border-radius: 5px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}