* {
    font-family: Helvetica, Arial, sans-serif;
}

.aktuelle-meldungen {
    background-color: rgb(166, 240, 240);
    padding: 3px;
    margin: 3px;
    border: dashed 2px;
}

nav a:hover {
    background: linear-gradient(to right, rgb(69, 112, 255), rgb(255, 105, 105));
}

.buchungen-tabelle thead {
    background-color: #999999;
}

.buchungen-tabelle tbody tr:nth-child(even) {
    background-color: #ffbf6b;
}