<aside title="Aktuelle Meldungen" class="aktuelle-meldungen">
    <h2>Aktuelle Meldungen</h2>
    <ul>
        <li>
            <article title="Lorem1">
                <h3>Lorem1</h3>
                10.11.2020: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam cum totam
                facere. Voluptatem facere voluptatum laudantium unde, aperiam non, accusantium magnam blanditiis
                repellendus, animi sequi consequatur. Delectus, inventore voluptate.
            </article>
        </li>
        <li>
            <article title="Lorem2">
                <h3>Lorem2</h3>
                07.11.2020: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, veniam libero?
                Cum,
                quae hic eos debitis commodi dolorem maiores libero consequuntur in voluptas culpa nulla
                dignissimos
                natus eligendi expedita recusandae.
            </article>
        </li>
    </ul>
</aside>