<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste verfügbarer Räume</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/grid.css">
</head>

<body>
        <%- include("header") %>

    <%- include("navbar") %>

    <main title="Seminar anlegen">
        <h2>Seminar anlegen</h2>
        <form action="https://labs.inf.fh-dortmund.de/roomReservationService/testCreateReservation.php" method="POST">
            <fieldset>
                <legend>Seminar</legend>

                <label class="isRequired" for="roomno">Raumnummer</label>
                <input id="roomno" name="roomno" placeholder="z.B. A.E.01" pattern="[A-Z]\.[E1-3]\.\d\d" required
                    autofocus>
                <br>

                <label class="isRequired" for="restitle">Bezeichnung</label>
                <input id="restitle" name="restitle" required placeholder="z.B. Kolloquium" maxlength="20">
                <br>

                <label for="resperson">Person</label>
                <select id="resperson" name="resperson">
                    <option value="" selected>&nbsp;</option>
                    <option value="jörges">Prof. Dr. Jörges</option>
                    <option value="cleven">Prof. Dr. Cleven</option>
                    <option value="bab">Prof. Dr. Bab</option>
                </select>
                <br>

                <label for="resparticipants">Erwartete Anzahl Teilnehmer</label>
                <input id="resparticipants" name="resparticipants" type="number">
                <br>

                <label for="resdescription">Beschreibung</label>
                <textarea id="resdescription" name="resdescription" maxlength="500"></textarea>
            </fieldset>

            <fieldset name="zeit">
                <legend>Zeit</legend>

                <label for="resdate" class="isRequired">Datum</label>
                <input id="resdate" name="resdate" type="date" required>
                <br>

                <label for="resstart" class="isRequired">Startzeit</label>
                <input id="resstart" name="resstart" type="time" min="08:00" max="21:00" required>
                <br>

                <label for="resend" class="isRequired">Endzeit</label>
                <input id="resend" name="resend" type="time" required max="22:00">
            </fieldset>

            <fieldset>
                <legend>Buchen</legend>
                <input type="submit" value="Seminar buchen">
            </fieldset>
        </form>


    </main>

    <%- include("aside") %>

    <%- include("footer") %>
</body>

</html>