<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>A.E.01</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/grid.css">

    <style>
        main {
            display: grid;
            grid-template-areas: "main-header main-header"
                "main-info main-picture"
                "main-buchungen main-picture";
            grid-template-columns: auto auto;
        }

        @media screen and (max-width:480px) {
            main {
                grid-template-areas: "main-header"
                    "main-info"
                    "main-buchungen"
                    "main-picture";
                    grid-template-columns: 100%
            }
        }

        main h2 {
            grid-area: main-header;
        }

        main figure {
            grid-area: main-picture;
        }

        main figure img {
            width: 100%;
        }

        main section[title="Informationen"] {
            grid-area: main-info;
        }

        main section[title="Buchungen"] {
            grid-area: main-buchungen;
        }
    </style>
</head>

<body>
        <%- include("header") %>

    <%- include("navbar") %>

    <main title="Raum: A.E.01">
        <h2>Raum: A.E.01</h2>

        <figure>
            <img src="./img/ae01.jpg" alt="Raum: A.E.01" width="400" />
            <figcaption>
                Abbildung: Raum A.E.01
            </figcaption>
        </figure>

        <section title="Informationen">
            <h3>Informationen</h3>
            <ul id="room-info-list">
                <!-- leere Liste für die Information zum Raum -->
            </ul>
        </section>

        <section title="Buchungen">
            <h3>Buchungen</h3>
            <table id="buchungen-tabelle">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Datum</th>
                        <th>Startuhrzeit</th>
                        <th>Enduhrzeit</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- leerer tbody für die Buchungen zum Raum -->
                </tbody>
            </table>
        </section>
    </main>


    <%- include("aside") %>

    <%- include("footer") %>


    <script src="./js/main.js"></script>
</body>

</html>